name: Publish Python package

on:
  release:
    types: [published]

env:
  python_versions: 
jobs:

  tests:
    # FIXME: This part will have to be updated whenever github allows
    # for dynamic name resolution at both repo (Rodrigo-Tenorio/distromax)
    # and refenrec (master) level.
    uses: Rodrigo-Tenorio/distromax/.github/workflows/tests.yml@master
    with:
      python_version: "[\"3.8\", \"3.9\", \"3.10\"]"


  publish-pypi:
    # FIXME: This part will have to be updated whenever github allows
    # for dynamic name resolution at both repo (Rodrigo-Tenorio/distromax)
    # and refenrec (master) level.
    needs: tests
    uses: Rodrigo-Tenorio/distromax/.github/workflows/publish-pypi.yml@master
    with:
      python_version: "[\"3.8\", \"3.9\", \"3.10\"]"
    secrets:
      TEST_PYPI_API_TOKEN: ${{ secrets.TEST_PYPI_API_TOKEN }}
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
